# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/next-js/node_modules
/.pnp
.pnp.js
/backend/stapi_plain/node_modules
/backend/stapi_plain/.strapi-updater.json/

# testing
/coverage

# next.js
/next-js/.next/
/next-js/out/

# production
/next-js/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

/next-js/.env.local
/next-js/.env.development.local
/next-js/.env.test.local
/next-js/.env.production.local

# vercel
.vercel
