.footer {
	background: #f7f7f7;
	padding: 25px 0;
	width: 100%;
	color: #9e9e9e;

	>div {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;

		li {
			a {
				color: inherit;
			}
		}
	}
	@media (max-width:480px){
		font-size:12px;
		>div{
			justify-content:center;
		}
		ul{margin-bottom:15px;
			li{
				width:100%;
				margin-bottom:4px;
				&:last-child{margin-bottom:0;}
			}
		}
	}

	.copyright {}
}