@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
img {
	width: 100%;
}
html,
body {
	scroll-behavior: smooth;
}
body {
	width: auto;
	/* margin-top: 7rem !important; */
	position: relative;
	font-size: 14px !important;
	font-family: "Merriweather", serif !important;
}

.main-body {
	padding: 20px;
}

a {
	text-decoration: none !important;
}

* {
	box-sizing: border-box;
}

.ml-10 {
	margin-left: 100px !important;
}

.social-media {
	position: relative;
}

.social-sharing {
	position: fixed;
	bottom: 10px;
	margin-left: -6%;
	z-index: 1;
}

.social-sharing ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.social-sharing ul li {
	text-align: center;
	color: #fff;
	border-bottom: solid 1px #979797;
	padding-bottom: 20px;
	padding-top: 20px;
	width: 50px;
}

.page-not-found {
	width: 80vw;
	min-height: 300px;
	margin: 40px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.owl-carousel .owl-item img {
	width: 100% !important;
	height: 100% !important;
}

.modal-content {
	background-color: #5fb969 !important;
}

@media (max-width: 768px) {
	.social-sharing {
		background-color: #fff;
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		margin: 0;
		height: 10%;
	}

	.social-sharing ul {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.social-sharing ul li {
		border-bottom: none;
	}
}
