.shrink {
	max-height: 64px;
	position: fixed;
	top: 0;
	width: 100%;
	background: #000 !important;
	z-index: 999;
	padding: 0 1rem;
	display: none;
}

.logo {
	display: flex;
}
.nav-list {
	border-bottom: 1px solid #979797;
	align-items: center;
	justify-content: center;
	border-bottom: 0;
}

.nav-item {
	display: flex;
	flex-direction: row;
}

.shrink .nav-list li {
	border-top: 15px solid #000;
	margin: 0 20px;
	float: left;
	display: inline;
	width: auto;
}

.shrink .nav-list a {
	color: #fff;
	padding-top: 10px;
	font-size: 20px;
	font-weight: 400;
	font-family: "Times New Roman", Times, serif, "Trebuchet MS";
}

.shrink .nav-list .search {
	padding-left: 10rem;
}

/* Header 2 */

.headerMain {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	padding: 1rem;
	transition: all 0.2s ease-in-out;
}
.headerMain .headerCopy {
	display: flex;
	align-items: flex-start;
	width: 100%;
}
.headerMain .logo {
	background-image: url("../public/images/melt_logo.png");
	width: 179px;
	height: 108px;
	background-repeat: no-repeat;
	background-size: 100%;
	flex: 0 0 auto;
	margin-right: 1rem;
	background-position: center;
}

.headerMain .menu {
	border-bottom: 1px solid #979797;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.headerMain .menu ul {
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	margin-left: auto;
}

.headerMain .menu ul li {
	margin: 0 20px;
}
.headerMain .menu ul li a {
	font-size: 18px;
	padding: 0.39em 1em;
	display: block;
	color: #4a4a4a;
	position: relative;
}
.headerMain .menu ul li a:before {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	top: 0;
	height: 0;
	background-color: #5fb969;
	display: block;
	transition: all 0.3s ease-in-out;
}
.headerMain .menu ul li a:hover::before {
	height: 4px;
}
.headerMain .search {
	background-image: url("data:image/svg+xml,%3Csvg id='Group_29466' data-name='Group 29466' xmlns='http://www.w3.org/2000/svg' width='21.061' height='21.111' viewBox='0 0 21.061 21.111'%3E%3Cg id='Ellipse_31' data-name='Ellipse 31' transform='translate(0 0)' fill='none' stroke='%234c436b' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cellipse cx='9.333' cy='9.363' rx='9.333' ry='9.363' stroke='none'/%3E%3Cellipse cx='9.333' cy='9.363' rx='8.583' ry='8.613' fill='none'/%3E%3C/g%3E%3Cpath id='Path_9' data-name='Path 9' d='M26,26l4.267,4.267' transform='translate(-10.267 -10.216)' fill='%234c436b' stroke='%234c436b' stroke-linecap='round' stroke-width='1.5'/%3E%3C/svg%3E%0A");
	background-size: 100%;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	color: black;
	flex: 0 0 auto;
	margin-left: auto;
}

.search-icon {
	position: relative;
}

.search-box {
	position: absolute;
	top: 63px;
	left: 490px;
	background: #f7f7f7;
	padding: 20px;
	border-left: 1px solid #979797;
	border-right: 1px solid #979797;
	border-bottom: 1px solid #979797;
	width: 47%;
	position: absolute;
	z-index: 99;
}

.search-input {
	width: 100%;
	height: 30px !important;
	padding: 0px;
	border: none;
	margin: 0px;
	height: auto;
	/* background: url(https://www.google.com/cse/static/images/1x/en/branding.png) left center no-repeat
		rgb(255, 255, 255); */
	outline: none;
}

.tags-text {
	font-size: 14px;
	font-weight: 700;
	text-align: left;
	color: #5fb969;
	text-transform: uppercase;
}

.badge {
	font-size: 15px !important;
	font-weight: 400;
	text-align: center;
	color: #4a4a4a !important;
	border-radius: 8px;
	border: solid 1px #979797;
	background-color: #f7f7f7;
	padding: 1px 8px;
	margin: 0 5px;
	padding-top: 6px !important;
	margin-bottom: 2px !important;
}

.tags-text a:hover {
	background-color: #4a4a4a !important;
	color: #f7f7f7 !important;
}

/* Scrolled Header */
.headerMain.scrolled {
	position: sticky;
	top: 0;
	background-color: #000;
	padding-top: 0;
	padding-bottom: 0;
	z-index: 11;
}
.headerMain.scrolled .headerCopy {
	align-items: center;
}
.headerMain.scrolled .logo {
	height: 64px;
	background-image: url("../public//images/melt_white.png");
	width: 65px;
}
.headerMain.scrolled .menu {
	border-bottom: 0;
}
.headerMain.scrolled .menu ul li a {
	color: #fff;
	padding-top: 0;
	padding-bottom: 0;
}
.headerMain.scrolled .search {
	background-image: url("data:image/svg+xml,%3Csvg id='Group_29466' data-name='Group 29466' xmlns='http://www.w3.org/2000/svg' width='21.061' height='21.111' viewBox='0 0 21.061 21.111'%3E%3Cg id='Ellipse_31' data-name='Ellipse 31' transform='translate(0 0)' fill='none' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cellipse cx='9.333' cy='9.363' rx='9.333' ry='9.363' stroke='none'/%3E%3Cellipse cx='9.333' cy='9.363' rx='8.583' ry='8.613' fill='none'/%3E%3C/g%3E%3Cpath id='Path_9' data-name='Path 9' d='M26,26l4.267,4.267' transform='translate(-10.267 -10.216)' fill='%23FFF' stroke='%23FFF' stroke-linecap='round' stroke-width='1.5'/%3E%3C/svg%3E%0A");
}

.active {
	border-top: 4px solid #5fb969;
}
