.section-articles {
	padding-bottom: 20px;
	margin-bottom: 40px;
}
.cat-section {
	border-bottom: solid 10px #979797;
}

.title {
	font-size: 36px;
	font-weight: 400;
	text-align: left;
	color: #4a4a4a;
	margin-bottom: 15px;
}

@media (min-width: 992px) {
	.col-lg-10 {
		flex: 0 0 83.33333%;
		max-width: 83.33333%;
	}
}

.body-text {
	margin-bottom: 40px;
	position: relative;
	font-size: 18px;
	color: #4a4a4a;
	font-weight: 300;
}

.filters-dropdown {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	border-bottom: 1px solid #777;
	align-items:center;
}

.gsc-webResult.gsc-result {
	margin: 0;
	padding: 10px 0;
	border: 1px solid #fff;
}

.gs-title a {
	color: #000;
	font-size: 16px;
}

.tag-text {
	color: #000;
	font-size: 14px;
	font-weight: 500;
}

.dec-text {
	color: #000;
	font-size: 12px;
	font-weight: 500;
}

.gsc-webResult .gsc-url-top {
	display: block;
}

.gs-visibleUrl {
	color: #000;
}

.image-sec {
	padding-right: 0px !important;
}

.dec-sec {
	padding-left: 0px !important;
}
.gsc-table-result img {
	width: 90%;
	height: 80%;
}

.article-content {
	color: #000;
	font-size: 12px;
	font-weight: 500;
}

.no-results {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 200px;
}
.sort{
	display: flex;
	justify-content: space-between;
	flex:0 0 auto;
	align-items: center;
}
.sort h6{flex:0 0 auto;margin-bottom:0;margin-right:10px;}
@media (max-width: 480px){
	.title{
		font-size: 28px;
	}
	.image-sec{
		width: 30% !important;
		height: 25% !important;
	}
	.dec-sec{
		width: 70% !important;
	}
}
