.main {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  color: #4a4a4a;
}
.main h1 {
  font-size: 50px !important;
}
.main h2 {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.main h3 {
    padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #4a4a4a;
}
.main .mobile {
  font-size: 20px;
  width: 184px;
}
.main p {
  width: 241px;
  font-size: 20px;
}

.contact {
  margin-top: 20px;
  color: #4a4a4a;
}

.contact label {
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
}
.contact input {
  font-size: 20px;
  width: 700px;
  border-radius: 5px;
}
.contact textarea {
  font-size: 20px;
  width: 700px;
  height: 200px;
  border-radius: 5px;
}

.contact .button {
  margin-top: 10px;
}
.contact .button button {
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  font-size: 15px;
  background-color: #4a4a4a;
  color: aliceblue;
}

.contact .danger{
  font-size: 20px;
  color: red;
}