.cat-section {
	border-bottom: solid 10px #979797;
}

.section-articles {
	padding-bottom: 20px;
	margin-bottom: 40px;
	border-bottom: 1px solid #979797;
}

.cat {
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 0;
	text-align: left;
	color: #5fb969;
}

.title {
	font-size: 48px;
	font-weight: 500;
	line-height: 1.14;
	text-align: left;
	color: #4a4a4a;
	margin-bottom: 15px;
}

.author-text {
	font-size: 18px;
	font-weight: 300;
	line-height: 1;
	text-align: left;
	color: #5fb969;
	border-top: solid 1px #979797;
	padding: 20px 0;
	margin-top: 20px;
	border-top: 0;
}

.date {
	font-size: 16px;
	font-weight: 400;
	line-height: 0.94;
	text-align: left;
	color: #4a4a4a;
	margin-left: 0;
}

.sub-heading {
	font-size: 30px;
	font-weight: 300;
	line-height: 1.25;
	letter-spacing: 0;
	text-align: left;
	color: #9b9b9b;
}

.content {
	font-size: 24px;
}

.body-text {
	margin-bottom: 40px;
	position: relative;
	font-size: 18px;
	line-height: 1.4;
	color: #4a4a4a;
	font-weight: 300;
}

.article-tags {
	font-size: 22px;
	font-weight: 500;
	line-height: 0.94;
	text-align: left;
	color: #9e9e9e;
}

.badge {
	font-size: 24px !important;
	font-weight: 400;
	line-height: 1.57;
	text-align: center;
	color: #4a4a4a !important;
	border-radius: 8px;
	border: solid 1px #979797;
	background-color: #f7f7f7;
	padding: 1px 8px;
	margin: 0 5px;
	padding-top: 6px !important;
	margin-bottom: 2px !important;
}

.text-heading {
	font-size: 22px;
	font-weight: 400;
	line-height: 1.22;
	text-align: left;
	color: #5fb969;
	border-top: 1px solid #9e9e9e;
	margin: 40px 0;
	padding-top: 10px;
}

.small_promoted_article img {
	width: 100%;
	height: auto;
}

.small_promoted_article h2,
.small_promoted_article h2 a {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.22;
	text-align: left;
	color: #4a4a4a;
}

.small_promoted_article h2,
.small_promoted_article h2 a:hover {
	color: #5fb969;
}

.also-text {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: rgba(101, 108, 122, 0.65);
}
.also-melt h2 a {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.22;
	text-align: left;
	color: #4a4a4a;
	font-family: "Times New Roman", Times, serif, "Trebuchet MS";
}
.also-melt h2 a:hover {
	text-decoration: none;
	color: #5fb969;
}

.recommend-post-title {
	position: absolute;
	color: rgba(255, 255, 255, 0.95);
	font-size: 18px;
	font-weight: 700;
	text-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.35);
	width: 90%;
	left: 5%;
	top: 35%;
	bottom: 0;
	white-space: normal;
	margin: 8px auto;
	display: block;
	line-height: 1.25;
	max-height: calc(2.5em);
	overflow: hidden;
	transition: all 150ms ease-in-out, font-size 0s ease-in-out;
}

.meta {
	color: #717888;
	font-size: 12.5px;
	width: 90%;
	margin: 8px 5% 0;
	padding: 0;
	padding-inline-start: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	transition: all 150ms linear 50ms;
}

.meta li {
	display: inline;
	font-weight: 500;
	line-height: 1.2;
}

.recommend-post {
	position: relative;
	display: flex;
	background: #fff;
	width: 85%;
	min-height: 230px;
	border: 1px solid #e7e9ee;
	border-radius: 6px;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 1;
	vertical-align: middle;
	transform: translate3d(0, 0, 0);
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	perspective: 1000;
}

.recommend-post h2 {
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
}
